#edit_page.col-md-8.col-md-offset-2
  .row
    .pannel.pannel-default
      .pannel-heading
        %h1 Fix Your Pic
      .pannel-body
        .current_image
          %strong.center Right Now
          = image_tag @pic.image.url(:medium)
        = render 'form'